body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000000;
    text-align: center;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    padding: 0px;
    margin: 0px;
    width: 50vw;
    height: 500px;
    background-color: #000000;
    color: #ffffff;
}

.blog {
    background-color: #ffffff;
    color: #000000;
}

/* Navigation styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background: #555;
}